.desktop-pej {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.desktop-pej .frame-3nP {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.1199999973);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-bottom: 1.2rem;
  width: 100%;
}
.desktop-pej .frame-3nP .frame-d8K {
  background-color: #a5c926;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3.2rem;
  margin-bottom: 1.2rem;
  padding: 0.2rem 13.2rem 0.2rem 13.5rem;
  width: 100%;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GBH {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: calc(100% - 1.2rem);
  margin: 0.6rem 73.4rem 0.6rem 0rem;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GBH .call-us-1-213-974-5898-n9d {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-right: 2.6rem;
  white-space: nowrap;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GBH .email--Rbu {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  margin-right: 0.4rem;
  white-space: nowrap;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GBH .toystoretemplatecom-kPH {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  white-space: nowrap;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd .frame-p8F {
  flex-shrink: 0;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.8rem;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd .frame-YK9 {
  flex-shrink: 0;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.8rem;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd .frame-ggF {
  flex-shrink: 0;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.8rem;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd .frame-dbV {
  flex-shrink: 0;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.8rem;
}
.desktop-pej .frame-3nP .frame-d8K .frame-K19 .frame-GMd .frame-YyM {
  flex-shrink: 0;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.8rem;
}
.desktop-pej .frame-3nP .frame-5iP {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 4.8rem;
  margin: 0 13.5rem;
  width: calc(100% - 27rem);
}
.desktop-pej .frame-3nP .frame-5iP .toystore-Dpb {
  color: #333333;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.5238095238;
  margin-right: 4.2rem;
  white-space: nowrap;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-7f5 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  margin-right: 59.9rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-7f5 .frame-UEj {
  align-items: center;
  border-radius: 1.6rem;
  color: #111111;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.7142857143;
  white-space: nowrap;
  width: 8.6rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-7f5 .frame-A7Z {
  align-items: center;
  border-radius: 1.6rem;
  color: #111111;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.8461538462;
  white-space: nowrap;
  width: 8.8rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-7f5 .frame-GRV {
  align-items: center;
  border-radius: 1.6rem;
  color: #111111;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.8461538462;
  white-space: nowrap;
  width: 7.5rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-7f5 .frame-Dk3 {
  align-items: center;
  border-radius: 1.6rem;
  color: #111111;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 1.7142857143;
  white-space: nowrap;
  width: 9.4rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-jTV {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: calc(100% - 1.6rem);
  margin: 0.8rem 0;
  padding: 0.4rem 0;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-jTV .cart-fM9 {
  color: #111111;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  margin-right: 1.4rem;
  white-space: nowrap;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-jTV .image-zeK {
  flex-shrink: 0;
  height: 2rem;
  margin-right: 1.325rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.375rem;
}
.desktop-pej .frame-3nP .frame-5iP .frame-kZd .frame-jTV .frame-LTH {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: calc(100% - 0.4rem);
  justify-content: center;
  line-height: 1.5;
  margin: 0.2rem 0;
  text-align: center;
  white-space: nowrap;
  width: 2rem;
}
.desktop-pej .auto-group-dqqh-99q {
  flex-shrink: 0;
  height: 110rem;
  position: relative;
  width: 100%;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh {
  height: 65.8rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 144rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .image-Rt3 {
  background-color: #f8f8f8;
  background-image: url("/api/try-prod-us-east-2-first-cluster/projects/BJx1wRpNVUhqhcvcJdc1e9/files/image/492409d1b25ad195077d1976979f5730fc880e57");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 64rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 144rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-9Z9 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 30.8rem;
  left: 43.5rem;
  padding: 5.5rem 8.1rem 5.6rem 8.1rem;
  position: absolute;
  top: 16.6rem;
  width: 57rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-9Z9 .say-hello-to-toystore-3Pd {
  color: #a5c926;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2307692308;
  margin-bottom: 1.7rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-9Z9 .free-ecommerce-template-for-webflow-k39 {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 3.9rem;
  font-weight: 400;
  line-height: 1.2307692308;
  margin-bottom: 2rem;
  max-width: 40.8rem;
  text-align: center;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-9Z9 .frame-qaP {
  align-items: center;
  background-color: #a5c926;
  border-radius: 2.4rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  height: 4.8rem;
  justify-content: center;
  line-height: 1.7142857143;
  margin: 0rem 12.7rem 0rem 12.8rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 25.5rem);
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-5Dq {
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  height: 3.6rem;
  left: 70.2rem;
  padding: 1rem 1.3rem 0.9rem 1.2rem;
  position: absolute;
  top: 62.2rem;
  width: 3.6rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-5Dq .frame-NTq {
  border: solid 0.2rem #bbbbbb;
  border-radius: 1.2rem;
  box-sizing: border-box;
  height: 100%;
  padding: 0.6rem 0.4rem 0.9rem 0.5rem;
  width: 100%;
}
.desktop-pej .auto-group-dqqh-99q .frame-VDh .frame-5Dq .frame-NTq .rectangle-WK9 {
  background-color: #bbbbbb;
  height: 0.2rem;
  width: 100%;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR {
  background-color: #f8f8f8;
  box-sizing: border-box;
  height: 46rem;
  left: 0;
  padding: 9.4rem 13.5rem 12rem 13.5rem;
  position: absolute;
  top: 64rem;
  width: 144rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF {
  align-items: flex-end;
  display: flex;
  height: 100%;
  width: 100%;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 {
  flex-shrink: 0;
  height: 100%;
  margin-right: 3rem;
  position: relative;
  width: 57rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 .rectangle-CrB {
  background-color: #ffc12c;
  border-radius: 1.6rem;
  height: 18.8rem;
  left: 0;
  position: absolute;
  top: 5.8rem;
  width: 57rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 .frame-wYs {
  height: 9.2rem;
  left: 26.4rem;
  position: absolute;
  top: 10.6rem;
  width: 21.3rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 .frame-wYs .stuffed-animals-UYo {
  color: #ffffff;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2857142857;
  margin-bottom: 1.6rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 .frame-wYs .frame-oqy {
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  color: #111111;
  display: flex;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  line-height: 1.8461538462;
  text-align: center;
  white-space: nowrap;
  width: 11.2rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-Fg3 .image-VD1 {
  height: 22rem;
  left: 1.5rem;
  object-fit: cover;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 22rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy {
  flex-shrink: 0;
  height: 23.7rem;
  position: relative;
  width: 57rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy .rectangle-x6b {
  background-color: #fb416b;
  border-radius: 1.6rem;
  height: 18.8rem;
  left: 0;
  position: absolute;
  top: 4.9rem;
  width: 57rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy .image-tW3 {
  height: 22rem;
  left: 32.9rem;
  object-fit: cover;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 22rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy .frame-dCj {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 9.2rem;
  left: 13.2rem;
  position: absolute;
  top: 9.7rem;
  width: 17.4rem;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy .frame-dCj .wooden-toys-ZMH {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-bottom: 1.6rem;
  text-align: right;
  white-space: nowrap;
}
.desktop-pej .auto-group-dqqh-99q .frame-yyR .frame-6YF .frame-QKy .frame-dCj .frame-MY3 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  color: #111111;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  height: 4rem;
  justify-content: center;
  line-height: 1.8461538462;
  text-align: center;
  white-space: nowrap;
  width: 11.2rem;
}
.desktop-pej .frame-39y {
  background-color: #f8f8f8;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 58.8rem;
  padding: 0 13.5rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45.3rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 5.5rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 3.6rem;
  margin-bottom: 3.2rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .stuffed-animals-1FD {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2857142857;
  margin-right: 86rem;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .auto-group-vdxd-vsy {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: calc(100% - 0.8rem);
  margin: 0.4rem 0;
  width: 9.7rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .auto-group-vdxd-vsy .frame-rWj {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 0.2rem 0.2rem 0.4rem 0rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .auto-group-vdxd-vsy .frame-rWj .see-all-toys-C4o {
  color: #111111;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  margin-right: 1rem;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .auto-group-vdxd-vsy .frame-rWj .image-Xcs {
  flex-shrink: 0;
  height: 1.011rem;
  margin-top: 0.211rem;
  object-fit: contain;
  vertical-align: top;
  width: 1.4rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .auto-group-stom-fh9 .auto-group-vdxd-vsy .rectangle-UHD {
  background-color: #dddddd;
  flex-shrink: 0;
  height: 0.2rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .frame-RTM {
  background-color: #e5e5e5;
  flex-shrink: 0;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-XL3 .frame-RTM .rectangle-o4b {
  background-color: #a5c926;
  height: 0.2rem;
  width: 13.6rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm {
  align-items: center;
  column-gap: 3rem;
  display: flex;
  flex-shrink: 0;
  height: 32.8rem;
  width: 100%;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-saF {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-saF .image-CMd {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-saF .teddy-bear-jcT {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin-bottom: 1.2rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-saF .frame-GMV {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-6rK {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-6rK .image-dbM {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-6rK .mega-plush-toy-aFh {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin: 0rem 0rem 1.2rem 0.1rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-6rK .frame-5iF {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-Xq9 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-Xq9 .image-fRZ {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-Xq9 .cute-dog-CRV {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin-bottom: 1.2rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-Xq9 .frame-XTm {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-AWj {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-AWj .image-gjy {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-AWj .little-friend-Dju {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-bottom: 1.2rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-39y .frame-zL7 .frame-8Mm .frame-AWj .frame-LpX {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-B4T {
  background-color: #f8f8f8;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 58.8rem;
  padding: 0 13.5rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 45.3rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 5.5rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 3.6rem;
  margin-bottom: 3.2rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .wooden-toys-ABH {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-right: 89.9rem;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .auto-group-hspd-hBD {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: calc(100% - 0.8rem);
  margin: 0.4rem 0;
  width: 9.7rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .auto-group-hspd-hBD .frame-R7D {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  padding: 0.2rem 0rem 0.4rem 0rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .auto-group-hspd-hBD .frame-R7D .see-all-toys-9ou {
  color: #111111;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  margin-right: 1.2rem;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .auto-group-hspd-hBD .frame-R7D .image-VMy {
  flex-shrink: 0;
  height: 1.0111rem;
  margin-top: 0.2111rem;
  object-fit: contain;
  vertical-align: top;
  width: 1.4rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .auto-group-rx4t-EHd .auto-group-hspd-hBD .rectangle-pQF {
  background-color: #dddddd;
  flex-shrink: 0;
  height: 0.2rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .frame-ADD {
  background-color: #e5e5e5;
  flex-shrink: 0;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-UZM .frame-ADD .rectangle-XZZ {
  background-color: #a5c926;
  height: 0.2rem;
  width: 13.6rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 {
  align-items: center;
  column-gap: 3rem;
  display: flex;
  flex-shrink: 0;
  height: 32.8rem;
  width: 100%;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-QtF {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-QtF .image-wdH {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-QtF .happy-flower-gqm {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin: 0rem 0rem 1.2rem 0.1rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-QtF .frame-PEP {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-EVu {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-EVu .image-N6K {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-EVu .lift-machine-uc3 {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin: 0rem 0rem 1.2rem 0.1rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-EVu .frame-d2F {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-SEb {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-SEb .image-Zq1 {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-SEb .wooden-camera-uts {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  margin-bottom: 1.2rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-SEb .frame-qXd {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-fmZ {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  padding: 3.3rem 4.4rem 3.2rem 4.4rem;
  width: 27rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-fmZ .image-zoq {
  flex-shrink: 0;
  height: 18.2rem;
  margin-bottom: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  width: 18.2rem;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-fmZ .little-rabbit-wDH {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  margin-bottom: 1.2rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-B4T .frame-KgT .frame-Ty1 .frame-fmZ .frame-GFZ {
  align-items: center;
  background-color: #a5c926;
  border-radius: 1.6rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 400;
  height: 2.4rem;
  justify-content: center;
  line-height: 1.6666666667;
  margin: 0 4.5rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 9rem);
}
.desktop-pej .frame-hLs {
  background-color: #f8f8f8;
  background-image: url("/api/try-prod-us-east-2-first-cluster/projects/BJx1wRpNVUhqhcvcJdc1e9/files/image/f028f30493aba5284d7903d33dc58b53c9ce5489");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 46.4rem;
  padding: 11.9rem 32rem 11.2rem 32rem;
  width: 100%;
}
.desktop-pej .frame-hLs .frame-2tw {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 4.15rem;
  width: 100%;
}
.desktop-pej .frame-hLs .frame-2tw .about-the-shop-mrX {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2307692308;
  margin: 0rem 0rem 1.7rem 0.1rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-hLs .frame-2tw .watch-our-story-gTh {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2222222222;
  margin: 0rem 0rem 1.8rem 0.1rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-hLs .frame-2tw .there-is-no-magic-formula-to-write-perfect-ad-copy-it-is-based-on-a-number-of-factors-including-ad-placement-demographic-even-the-consumers-mood-o2X {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  margin-bottom: 2.6rem;
  max-width: 71.7rem;
  text-align: center;
}
.desktop-pej .frame-hLs .frame-2tw .frame-piK {
  background-color: #a5c926;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0 32.65rem;
  padding: 2.3rem 2.3rem 2.3rem 2.6rem;
  width: calc(100% - 65.3rem);
}
.desktop-pej .frame-hLs .frame-2tw .frame-piK .image-kM5 {
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  width: 1.5rem;
}
.desktop-pej .frame-3b5 {
  background-color: #f8f8f8;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 87.2rem;
  padding: 11.9rem 13.7rem 12.1rem 13.5rem;
  width: 100%;
}
.desktop-pej .frame-3b5 .frame-n2s {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-L4P {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0rem 35.95rem 9.6rem 36.25rem;
  width: calc(100% - 72.2rem);
}
.desktop-pej .frame-3b5 .frame-n2s .frame-L4P .made-for-webflow-4m5 {
  color: #a5c926;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2307692308;
  margin-bottom: 1.8rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-L4P .simple-colorful-ecommerce-template-for-your-business-zPq {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2903225806;
  max-width: 44.6rem;
  text-align: center;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 42.2rem;
  width: 100%;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .frame-fF5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: calc(100% - 16.1rem);
  margin: 8rem 14.9rem 8.1rem 0rem;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .frame-fF5 .available-for-free-BDR {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2903225806;
  margin-bottom: 2.4rem;
  white-space: nowrap;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .frame-fF5 .rectangle-hxT {
  background-color: #a5c926;
  flex-shrink: 0;
  height: 0.2rem;
  margin-bottom: 2.5rem;
  width: 7rem;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .frame-fF5 .a-successful-marketing-plan-relies-heavily-on-the-pulling-power-of-advertising-copy-writing-result-oriented-ad-copy-is-difficult-as-it-must-appeal-to-entice-and-convince-consumers-to-take-action-there-is-no-magic-formula-to-write-perfect-ad-copy-qom {
  color: #999999;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  margin-bottom: 2.6rem;
  max-width: 45.2rem;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .frame-fF5 .frame-TaF {
  align-items: center;
  background-color: #a5c926;
  border-radius: 2.4rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  height: 4.8rem;
  justify-content: center;
  line-height: 1.7142857143;
  text-align: center;
  white-space: nowrap;
  width: 14.5rem;
}
.desktop-pej .frame-3b5 .frame-n2s .frame-hZ9 .image-Z7V {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 42.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 56.7rem;
}
.desktop-pej .frame-UVM {
  background-color: #f8f8f8;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 17.6rem;
  padding: 0.1rem 14.6rem 0.2rem 14.5rem;
  width: 100%;
}
.desktop-pej .frame-UVM .frame-1EP {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.150000006);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 4.7rem 4.6rem 5.5rem 4.8rem;
  width: 100%;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  margin-right: 15.6rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .frame-hN7 {
  background-color: #a5c926;
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0.8rem 2.3rem 0rem 0rem;
  padding: 1.942rem 2.185rem 1.937rem 1.694rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .frame-hN7 .image-1dh {
  height: 2.421rem;
  object-fit: contain;
  vertical-align: top;
  width: 2.4209rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .auto-group-gnfr-Ydd {
  flex-shrink: 0;
  height: 6.3rem;
  margin-bottom: 0.8rem;
  position: relative;
  width: 30rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .auto-group-gnfr-Ydd .get-5tT {
  color: #111111;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.4rem;
  font-weight: 400;
  height: 3.2rem;
  left: 0;
  line-height: 1.3333333333;
  position: absolute;
  top: 3.1rem;
  white-space: nowrap;
  width: 6.2rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .auto-group-gnfr-Ydd .discount-BwV {
  color: #a5c926;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.3rem;
  font-weight: 400;
  height: 3.2rem;
  left: 6.7rem;
  line-height: 1.3913043478;
  position: absolute;
  top: 3.1rem;
  white-space: nowrap;
  width: 15.5rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-95h .auto-group-gnfr-Ydd .subscribe-to-our-newsletter-6Hm {
  color: #111111;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.3rem;
  font-weight: 400;
  height: 3.2rem;
  left: 0;
  line-height: 1.3913043478;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 30rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-bkK {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: calc(100% - 2.4rem);
  margin: 1.6rem 0rem 0.8rem 0rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-bkK .rectangle-Xts {
  background-color: #f8f8f8;
  border: solid 0.2rem #e5e5e5;
  border-radius: 2.4rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 4.7rem;
  margin-right: 1.6rem;
  width: 37.6rem;
}
.desktop-pej .frame-UVM .frame-1EP .frame-bkK .rectangle-FZy {
  background-color: #a5c926;
  border-radius: 2.4rem;
  flex-shrink: 0;
  height: 4.7rem;
  width: 12.1rem;
}
.desktop-pej .auto-group-8j5r-8tf {
  flex-shrink: 0;
  height: 90.2rem;
  position: relative;
  width: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR {
  background-color: #f8f8f8;
  box-sizing: border-box;
  height: 69.4rem;
  left: 0;
  padding: 11.9rem 15.2rem 12.1rem 15.3rem;
  position: absolute;
  top: 0;
  width: 144rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-AaT {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0rem 42rem 8.5rem 42rem;
  width: calc(100% - 84rem);
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-AaT .elasticthemes-hqH {
  color: #a5c926;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2307692308;
  margin: 0rem 0.1rem 1.7rem 0rem;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-AaT .were-on-instagram-DYj {
  color: #111111;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2903225806;
  text-align: center;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 17.2rem;
  margin-bottom: 7.6rem;
  padding: 0rem 1.5rem 0rem 1.4rem;
  width: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-4ZM {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-4ZM .image-omq {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-kBH {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-kBH .image-6W3 {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-qCj {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-qCj .image-NiT {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-Wpf {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.4rem;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-Wpf .image-GJ3 {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-CxP {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-CxP .image-xgf {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-hu9 {
  border-radius: 1.6rem;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-LtF .frame-hu9 .image-s2w {
  height: 17.2rem;
  object-fit: cover;
  vertical-align: top;
  width: 17.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-VDR .frame-QrB .frame-bjd {
  align-items: center;
  background-color: #a5c926;
  border-radius: 2.4rem;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  height: 4.8rem;
  justify-content: center;
  line-height: 1.7142857143;
  margin: 0 48.1rem;
  text-align: center;
  white-space: nowrap;
  width: calc(100% - 96.2rem);
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas {
  background-color: #a5c926;
  box-sizing: border-box;
  height: 20.9rem;
  left: 0;
  padding: 4.8rem 13.2rem 0rem 13.5rem;
  position: absolute;
  top: 69.3rem;
  width: 144rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 3.2rem;
  margin-bottom: 4.7469rem;
  width: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .toystore-sqZ {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Varela Round, "Source Sans Pro";
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.5238095238;
  margin-right: 32.1rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: calc(100% - 0.8rem);
  margin: 0.4rem 25.3rem 0.4rem 0rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ .home-voq {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  margin-right: 2.8rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ .catalog-sDH {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  margin-right: 2.9rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ .delivery-D2F {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  margin-right: 3.1rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ .about-kH5 {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  margin-right: 3rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-bmZ .contacts-5q9 {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF .frame-zBR {
  flex-shrink: 0;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 3.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF .frame-jPu {
  flex-shrink: 0;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 3.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF .frame-UsH {
  flex-shrink: 0;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 3.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF .frame-pw9 {
  flex-shrink: 0;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 3.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-an1u-xCo .frame-ECF .frame-Nxf {
  flex-shrink: 0;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  width: 3.2rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR {
  flex-shrink: 0;
  height: 8.1531rem;
  position: relative;
  width: 117rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .rectangle-gTZ {
  background-color: rgba(255, 255, 255, 0.25);
  height: 0.1rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 117rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 8.1rem;
  left: 0;
  padding: 3.3rem 0.2rem 3.2rem 0rem;
  position: absolute;
  top: 0.0531rem;
  width: 117rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-XDH {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  margin-right: 71.6rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-XDH .created-with-love-by-UPR {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  margin-right: 0.9rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-XDH .elastic-themes-biw {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .powered-by-h1H {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  margin-right: 0.7rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .webflow-q7V {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .auto-group-weyd-BSF {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  padding-left: 0.9rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .auto-group-weyd-BSF .rectangle-KYT {
  background-color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
  height: 0.3rem;
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 0.3rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .auto-group-weyd-BSF .style-guide-EvK {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  margin-right: 1.2rem;
  white-space: nowrap;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .auto-group-weyd-BSF .rectangle-yd1 {
  background-color: rgba(255, 255, 255, 0.5);
  flex-shrink: 0;
  height: 0.3rem;
  margin: 0.1rem 0.8rem 0rem 0rem;
  width: 0.3rem;
}
.desktop-pej .auto-group-8j5r-8tf .frame-Gas .frame-bNF .auto-group-knbr-jHR .frame-d7u .frame-w27 .auto-group-weyd-BSF .licensing-VrF {
  color: #ffffff;
  flex-shrink: 0;
  font-family: Open Sans, "Source Sans Pro";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  white-space: nowrap;
}
