// input round
.el-textarea__inner,
.el-select .el-input__wrapper {
    border-radius: 50px;
    background: transparent !important;
    box-shadow: 0.1px 0.1px 0.1px 1px white !important;
    height: 40px;

    * {
        color: rgb(156 163 175) !important;
    }

    resize: none !important;
}

.el-textarea__inner {
    border-radius: 8px !important;
}

// el-dialog background
.el-dialog.is-align-center,
.el-picker__popper.el-popper,
.el-picker-panel__body {
    background: rgb(31 41 55) !important;
}

// x
.el-dialog__headerbtn,
.el-dialog__header {
    display: none;
}

.el-popover {
    padding: 10px !important;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
}

.el-popper__arrow::before, .el-popover {
    background: rgb(31 41 55) !important;
}

.el-select-dropdown,
.el-dropdown-menu {
    background: rgb(31 41 55) !important;

    .options:hover,
    .el-dropdown-menu__item:hover {
        background: #027DFC1A !important;
    }

    .options {
        background: transparent !important;
    }
}

.el-dropdown-menu__item {
    display: flex;
    align-items: center;
    gap: 7px;
    background: transparent !important;
}

.el-message--error {
    background: red !important;
    border-radius: 60px !important;
}

// data picker
.el-input__wrapper {
    background: transparent !important;
    min-width: 100% !important;
    border-radius: 60px !important;
    padding: 0 16px !important;

    input {
        border: 0 !important;
        box-shadow: none !important;
        padding: 0 4px !important;
    }
}

.el-date-editor {
    background: transparent !important;
}

.el-time-spinner__item:hover {
    background: #027DFC1A !important;
    border-radius: 60px;
}

// upload files
.el-upload-dragger {
    padding: 0 !important;
    border-radius: 8px !important;
    border: none !important;
    background: transparent !important;
}

.el-dialog__body {
    padding: 0 !important;
}

// switcher
.el-switch__core {
    height: 18px !important;
    min-width: 32px !important;
    border-radius: 30px !important;
    border: 1px solid #E2E1E6 !important;
    padding: 1px;
    background: transparent !important;

    * {
        background-color: #C5C4C7 !important;
    }
}

.el-switch.is-checked .el-switch__core {
    border-color: #027DFC !important;
    background: #027DFC !important;

    * {
        background-color: #FFFFFF !important;
    }
}

// test group selector
.el-select .el-select-tags-wrapper {
    display: none !important;
}

.el-select__tags * {
    border: 0 !important;
    box-shadow: none !important;
    padding: 0 10px !important;
}

.option:hover {
    background: #000 !important;
}



// media
@media (max-width:640px) {

    .optional1 .el-select .el-input__wrapper {
        height: 28px;
    }
}

@media (min-width:640px) {

    .optional1 .el-select .el-input__wrapper {
        height: 40px;
    }
}